.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

#p_inline
{
    display: inline-block;
    width:40%;
    text-align:center;
}

th {
    background:  #d3a308;
}

tr:nth-child(even) {background:  #FFE4E1}
tr:nth-child(odd) {background: #CCC }


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
        
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; 
    }
    
    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        text-align:center;   


    }

    
    td:before { 
        font-weight: bold;
        display: block;
    } 
}

